.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}

.header-container img {
  width: 50vw;
  z-index: -1;
}

/* Responsive CSS */
@media screen and (max-width: 1024px) {
  .header-container img {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .header-container img {
    width: 70vw;
  }
}
