.container-slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  margin-top: -100px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 1s;
}
.slide img {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  object-position: center;
  image-rendering: auto;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--mainColor);
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide i {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.next:hover,
.prev:hover {
  background-color: var(--mainColorLight);
  transition: all 0.3s;
}

/* Responsive CSS */

@media screen and (max-width: 1024px) {
  .container-slider {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .container-slider {
    width: 100vw;
    height: 100vh;
  }
}
