.container-description {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.container-description p {
  text-align: justify;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  word-spacing: 2px;
  margin-left: -20px;
  border-left: 2px solid;
  padding-top: 10px;
  padding-left: 20px;
  max-width: 60vw;
}

.container-description img {
  height: 30vh;
  padding-left: 0px;
}

/* Responsive CSS */
@media screen and (max-width: 1024px) {
  .container-description {
    margin-top: 2%;
  }
}

@media screen and (max-width: 768px) {
  .container-description {
    margin-top: 10%;
  }
}
/* End of Responsive CSS/ */
