.container-description {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.container-description p {
  text-align: justify;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  word-spacing: 2px;
  margin-left: -20px;
  border-left: 2px solid;
  padding-top: 10px;
  padding-left: 20px;
  max-width: 60vw;
}

.container-description img {
  display: flex;
  justify-content: center;
  height: 20vh;
  padding-right: 150px;
}

@media screen and (max-width: 1024px) {
  .container-description {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container-description {
    flex-direction: column;
  }

  .container-description p {
    border-top: 2px solid;
    border-left: none;
  }
}
