/* Header CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  background-color: transparent;
  color: var(--secondaryColor);
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  background-color: transparent;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  transition: all 0.5s ease-in-out;
}

header img {
  top: 2rem;
  left: 2rem;
  image-rendering: optimizeQuality;
  height: 80px;
}

nav a {
  margin: 0 2rem;
  color: var(--secondaryColor);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
}

nav a:hover {
  color: #fff;
  padding: 15px;
  background-color: var(--mainColor);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.nav Link:active {
  background-color: var(--mainColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--secondaryColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

/* Scrolled Nav CSS */

header.scrolled {
  background-color: var(--mainColor);
  transition: all 0.5s ease-in-out;
}

header.scrolled nav a {
  color: white;
}

header.scrolled nav a:hover {
  color: #fff;
  padding: 15px;
  background-color: var(--mainColorLight);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
  color: var(--mainColor);
}

/* End of Scrolled Nav CSS */

/* Responsive */
@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header.scrolled .nav-btn {
    color: #fff;
  }

  header .nav-close-btn {
    color: var(--textColor);
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 0.5s all ease-in;
    transform: translateY(-100vh);
    opacity: 85%;
  }
  header nav a {
    color: var(--textColor);
  }

  nav a:hover {
    color: #fff;
    margin-bottom: -2px;
    border: 2px solid;
    background: var(--mainColorLight);
    transition: 0.1s all ease-in-out;
  }

  header .responsive_nav {
    transform: none;
  }
}

@media only screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
  }

  header span img {
    margin-left: -19px;
    margin-top: -10px;
    height: 53px;
  }

  nav .nav-close-btn {
    margin-top: 15px;
    margin-right: 12px;
  }
}
